<div class="container-fluid  d-flex flex-column justify-content-center align-items-center px-0">
    <h1 class="text-center text-success m-3">Your Orders</h1>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center px-0">
        <div class="container text-danger text-center" *ngIf="!blank; else elseBlock">
            <h3 class="text-center">Your order list is Empty</h3>
            <span class="mx-auto text-success fs-5">
                <a [routerLink]="['/dashboard']">Order Now</a>
            </span>
        </div>
        <ng-template #elseBlock>
            <div  class="container px-0  my-2 p-3 d-flex flex-row rounded" style="height: 13rem; background-color: #f8f9fa;" *ngFor="let key of objectKeys(obj)">
                <img class="ms-2 my-auto  w-25 h-100" [src]="obj[key].image" alt="">
                <div class="container d-flex flex-column align-item-start">
                    <h1>{{obj[key].title | titlecase}} </h1>
                </div>
            </div>
        </ng-template>
    </div>
</div>


  