<h1 class="text-center mt-4 text-primary">Confirm You Order</h1>
<div class="container-fluid mt-3 p-2 w-50 mx-auto  d-flex flex-row justify-content-center align-items-center">

  <button class="btn btn-primary rounded-pill">1</button>
  <span class="w-25 my-auto"><ngb-progressbar style="height: 3px;" type="primary"
      [value]="firstLine"></ngb-progressbar></span>
  <button class="btn btn-primary rounded-pill" [disabled]='secondDisabled'>2</button>
  <span class="w-25 my-auto"><ngb-progressbar style="height: 3px;" type="primary"
      [value]="secondLine"></ngb-progressbar></span>
  <button class="btn btn-primary rounded-pill" [disabled]='thirdDisabled'>3</button>
</div>

<!-- <p><ngb-progressbar type="primary" [value]="75"></ngb-progressbar></p> -->

<div class="container m-4 w-75 mx-auto d-flex flex-column justify-content-center align-items-center"
  [ngSwitch]="switchel">
  <div class="container border border-2 rounded p-3  w-50" *ngSwitchCase="1">
    <form #user="ngForm" (ngSubmit)="submitUser(user)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="text" name="name" disabled [(ngModel)]="users.name" #name="ngModel" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" disabled [(ngModel)]="users.email" #email="ngModel" email class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Phone Number</label>
        <input type="text" name="phone" disabled [(ngModel)]="users.phone" #phone="ngModel" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container border border-2 rounded p-3  w-50" *ngSwitchCase="2">
    <form #address="ngForm" (ngSubmit)="userAddress(address)">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">City</label>
        <input type="text" name="city" [(ngModel)]="addres.city" #city="ngModel" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Street</label>
        <input type="email" name="street" [(ngModel)]="addres.street" #street="ngModel" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Zip Code</label>
        <input type="text" name="zipCode" [(ngModel)]="addres.zipCode" #zipCode="ngModel" class="form-control"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="container border  border-2 rounded p-3  w-50" style="background-color: #f8f9fa;" *ngSwitchCase="3">
    <div class="container d-flex flex-column">
      <h5>Deliver To:</h5>
      <span class="fw-bold fs-4">{{users.name}}</span>
      <p>{{addres.city}}, {{addres.street}} <br>{{addres.zipCode}}</p>
      <span>{{users.phone}}</span>
    </div>
    <div class="container bg-light d-flex flex-row mt-2" *ngIf="!multipleBuy; else elseBlock">
      <img [src]="products.image" class="w-25" alt="">
      <div class="container d-flex flex-column w-75 m-2">
        <h6>{{products.title }}</h6>
        <span class="d-flex flex-row">
          <i class="material-icons text-warning" *ngFor="let number of numbers |slice: 0:products.rating.rate">star</i>
          <span>({{products.rating.count}})</span>
        </span>
        <span class="text-success fs-5"><del class="text-danger fs-6">{{products.price*1.4 | currency}}</del>
          {{products.price| currency}} <span class="text-danger fs-6">30% Off</span></span>
          <h4>Qty. <button class="btn btn-light"(click)="counter('-')">-</button> <span class="py-1 px-2 border border-1">{{count}}</span><button class="btn btn-light" (click)="counter('+')">+</button></h4>
        </div>
    </div>
    <ng-template #elseBlock>
      <div class="container bg-light d-flex flex-row mt-2" *ngFor="let product of productList">
        <img [src]="product.image" class="w-25" alt="">
        <div class="container d-flex flex-column w-75 m-2">
          <h6>{{product.title }}</h6>
          <span class="d-flex flex-row">
            <i class="material-icons text-warning" *ngFor="let number of numbers |slice: 0:product.rating.rate">star</i>
            <span>({{product.rating.count}})</span>
          </span>
          <span class="text-success fs-5"><del class="text-danger fs-6">{{product.price*1.4 | currency}}</del>
            {{product.price| currency}} <span class="text-danger fs-6">30% Off</span></span>
            <h4>Qty. <span class="py-1 px-2 border border-1">{{product.count}}</span></h4>
        </div>
      </div>    
    </ng-template>
    <div class="container-fluid d-flex flex-row my-2">
      <span class="ps-1 my-auto me-auto">Delivered by {{dates |date}}</span>
      <span class="fs-5 text-success ms-auto" *ngIf="!multipleBuy">Total Cost: {{products.price*count| currency}}</span>
      <span class="fs-5 text-success ms-auto" *ngIf="multipleBuy">Total Cost: {{sum| currency}}</span>
    </div>
    
    <button class="btn btn-primary my-2" (click)="updateUser()">Confirm</button>
  </div>


</div>