<h1 class="text-center mt-4 text-primary">Confirm You Order</h1>
<div class="container-fluid mt-3 p-2 w-50 mx-auto  d-flex flex-row justify-content-center align-items-center">

    <button class="btn btn-primary rounded-pill" >1</button>
    <span class="w-25 my-auto"><ngb-progressbar style="height: 3px;" type="primary" [value]="firstLine"></ngb-progressbar></span>
    <button class="btn btn-primary rounded-pill" [disabled]='secondDisabled'>2</button>
    <span class="w-25 my-auto"><ngb-progressbar  style="height: 3px;" type="primary" [value]="secondLine"></ngb-progressbar></span>
    <button class="btn btn-primary rounded-pill" [disabled]='thirdDisabled'>3</button>
</div>

<!-- <p><ngb-progressbar type="primary" [value]="75"></ngb-progressbar></p> -->

<div class="container m-4 w-75 mx-auto d-flex flex-column justify-content-center align-items-center"
    [ngSwitch]="switchel">
    <div class="container border border-2 rounded p-3  w-50" *ngSwitchCase="1">
        <form #user="ngForm" (ngSubmit)="submitUser(user)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input type="text" name="name" disabled [(ngModel)]="users.name" #name="ngModel" class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" disabled [(ngModel)]="users.email" #email="ngModel" email class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone Number</label>
              <input type="text" name="phone" disabled [(ngModel)]="users.phone" #phone="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="container border border-2 rounded p-3  w-50" *ngSwitchCase="2">
        <form #address="ngForm" (ngSubmit)="userAddress(address)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">City</label>
              <input type="text" name="city" [(ngModel)]="addres.city" #city="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Street</label>
              <input type="email" name="street" [(ngModel)]="addres.street" #street="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Zip Code</label>
              <input type="text" name="zipCode" [(ngModel)]="addres.zipCode" #zipCode="ngModel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
    <div class="container border  border-2 rounded p-3  w-50" style="background-color: #f8f9fa;" *ngSwitchCase="3">
        <div class="container d-flex flex-column">
            <h5>Deliver To:</h5>
            <span class="fw-bold fs-4">{{users.name}}</span>
            <p>{{addres.city}}, {{addres.street}} <br>{{addres.zipCode}}</p>
            <span>{{users.phone}}</span>
        </div>
        <div class="container bg-light d-flex flex-row mt-2">
            <img [src]="products.image" class="w-25" alt="">
        </div>
    </div>
    

</div>



