.cartProducts{
    height: 20rem;
    background: linear-gradient(to right, #b92b27, #1565c0);
}
@media screen and (max-width: 600px) {
    #imagecon{
        width: 50% !important;
    }
    #titlecon{
        width: 50% !important;
    }
    
}