<div class="container-fluid  d-flex flex-column justify-content-center align-items-center px-0">
    <h1 class="text-center text-success m-3">Your Cart</h1>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center px-0">
        <div class="container text-danger text-center" *ngIf="!blank; else elseBlock">
            <h3 class="text-center">Your Cart is Empty</h3>
            <span class="mx-auto text-success fs-5">
                <a [routerLink]="['/dashboard']">Add Now</a>
            </span>
        </div>
        <ng-template #elseBlock>
            <div class="container-sm d-flex flex-row justify-content-end align-items-end w-25 ms-auto me-5 px-4">
                <span class=" py-auto my-auto text-light me-1 fw-bold">{{sum | currency}} </span>
                <button class="btn btn-warning text-nowrap" (click)="multiplebuy()">Order Now</button>
            </div>
            <div  class="container px-0  my-2 p-2 d-flex flex-row rounded" style="height: 20rem;background: linear-gradient(to right, #b92b27, #1565c0);" *ngFor="let key of carts">
                <div class="container w-25 h-100" id="imagecon">
                    <img class="ms-2 my-auto  w-100 h-75" [src]="key.image" alt="">
                    <h5 class="my-3 text-light text-nowrap ps-3">Qty. {{key.count}}
                        <br><span class="fs-6  text-light">Deliver By {{date|date}}</span>
                    </h5>
                </div>
                <div class="container w-75 d-flex flex-column text-light align-item-start" id="titlecon">
                    <h5>{{key.title | titlecase}} </h5>
                    <span class="py-auto">
                        <i class="material-icons text-warning" *ngFor="let number of numbers |slice: 0:key.rating.rate">star</i> <span>({{key.rating.count}})</span>
                    </span>
                    <h6 class="text-success fw-bold fs-5"><del class="text-danger fs-6">{{key.price*1.3 | currency}}</del>  {{key.price | currency}} <span class="text-danger fs-6"> Save 30%</span></h6>
                   <div class="container d-flex flex-row flex-wrap mx-0 ms-0 ps-0">
                    
                       <button class="btn btn-light border text-nowrap border-1 m-2" (click)="removeItem(key)">Remove</button>
                       <button class="btn btn-light border text-nowrap border-1 m-2" (click)="buyProduct(key)">Buy it Now</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>


  