<div class="container-fluid  d-flex flex-column justify-content-center align-items-center px-0">
    <h1 class="text-center text-success m-3">Your Orders</h1>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center px-0">
        <div class="container text-danger text-center" *ngIf="!blank; else elseBlock">
            <h3 class="text-center">Your order list is Empty</h3>
            <span class="mx-auto text-success fs-5">
                <a [routerLink]="['/dashboard']">Order Now</a>
            </span>
        </div>
        <ng-template #elseBlock>
            <div  class="container px-0  my-2 p-3 d-flex flex-row rounded maindiv" *ngFor="let key of obj">
                <div class="container text-light w-25 h-100" id="imagecontainer">
                    <img class="ms-2 my-auto  w-100 h-75" [src]="key.image" alt="">
                    <h5 class="my-3 ps-3 text-nowrap">Qty. {{key.count}}</h5>
                </div>
                <div class="container text-light w-75 d-flex flex-column align-item-start" id="titlecontainer">
                    <h5>{{key.title | titlecase}} </h5>
                    <span class="py-auto">
                        <i class="material-icons text-warning" *ngFor="let number of numbers |slice: 0:key.rating.rate">star</i> <span>({{key.rating.count}})</span>
                    </span>
                    <h6><span class="fs-6">Delivered On {{key.deliverDate|date}}</span></h6>
                    <!-- <h6 class="text-success fs-5"><del class="text-danger fs-6">{{key.price*1.3 | currency}}</del>  {{key.price | currency}} <span class="text-danger fs-6"> Save 30%</span></h6> -->
                   <div class="container d-flex flex-row mx-0 ms-0 ps-0">
                    
                       <!-- <button class="btn btn-light border border-1 m-2" (click)="removeItem(key)">Remove</button> -->
                       <button class="btn btn-light text-wrap border border-1 m-2" (click)="buyProduct(key)">Order It Again</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>


  