<div class="modal-header">
    <h4 class="modal-title">{{items.title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalClose()"></button>
</div>
<div class="modal-body d-flex flex-row">
    <img [src]="items.image" class="w-50 h-100 p-2" alt="">
    <div class="container-fluid w-50 h-100 p-2">
        <h4 class="fw-bolder text-success my-1">Price: {{items.price | currency}} <span class="text-danger fw-light">
                Save 50%</span>
            <br>
            <span class="text-danger fs-6 fw-light"><del>{{items.price*2 | currency}}</del></span>
        </h4>

        <h4 class="fw-bolder my-1"><span class="fw-light">Category:</span><br>{{items.category | titlecase}}</h4>
        <span class="fw-bolder">Description:</span><br>
        <p>
            {{items.description |slice:0:length}} <span role="button" class="text-primary" *ngIf="view"
                (click)="showmore(items.description)">...View More</span><span role="button" class="text-primary"
                *ngIf="!view" (click)="showless(items.description)">...View Less</span> </p>
    </div>

</div>
<div class="d-flex w-100 flex-row ms-auto">
    <h4 class="my-auto d-inline ms-2">Ratings:</h4>
    <span class="my-auto">

        <i class="material-icons text-warning" *ngFor="let number of numbers |slice: 0:items.rating.rate">star</i>
    </span>
    <div class="ms-auto d-flex flex-row">
        <button class="btn btn-danger m-1" (click)="updateProduct(items)">Buy Now</button>
        <button class="btn btn-warning m-1" (click)="updateCartProduct(items)">Add to Cart</button>
    </div>
</div>
<div class="modal-footer">

    <button type="button" class="btn btn-primary ms-auto" (click)="modalClose()">Close</button>
</div>
